
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;

    
}

body {
    font-family: "Poppins", sans-serif;

}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
    pointer-events: all;
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input,
textarea,
button {
    border: none;
    outline: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

ion-icon {
    cursor: pointer;
}

.h1 {
    font-size: 3.5rem;
    font-weight: 600;
    border-bottom: 6px solid blue;

    
}

.container {
    padding: 50px;

    @media only screen and (max-width: 600px) {
        padding: 30px 10px;
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }
    @media only screen and (min-width: 600px) and (max-width: 767px) {
        padding: 30px 20px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 30px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 40px;
    }
    @media only screen and (min-width: 1200px) {

    }
}


.navbar {
    padding: 10px 50px;
    background-color: blue;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    @media only screen and (max-width: 600px) {
        padding: 10px 10px;
    }
    @media only screen and (min-width: 600px) and (max-width: 767px) {
        padding: 10px 20px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 10px 35px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        
    }
    @media only screen and (min-width: 1200px) {

    }
}

.navbar .container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-brand {
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.navbar .navbar-form {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 5px;

    @media only screen and (max-width: 600px) {
        width: 60%;
    }
    @media only screen and (min-width: 600px) and (max-width: 767px) {
        width: 56%;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 46%;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        
    }
    @media only screen and (min-width: 1200px) {

    }
}

.navbar input {
    padding: 11px 20px;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 50rem;
    margin-left: auto;

}

.btn-primary {
    padding: 11px 20px;
    font-size: 1.5rem;
    border-radius: 50rem;
}

.btn-secondary {
    padding: 11px 17px;
    font-size: 1.6rem;
    background-color: blue;
    color: white;
    width: max-content;
    transition: all 0.2s;
}
.btn-secondary:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.04) translateY(-5px);
}
.btn-secondary:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transform: scale(1.02) translateY(-2px);
}


.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-direction: row;
}


.model {
    background-color: #edebeb;
    max-width: 600px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 15px;
    z-index: 2;
    position: relative;

    box-shadow: 2px 10px 25px rgba(0, 0, 0, 0.4);

}

.cross {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;

}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.input-div label {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 10px;
}

.input-div input {
    padding: 11px 20px;
    font-size: 1.9rem;
    font-weight: 500;
    border-radius: 10px;
}

.input-div textarea {
    padding: 11px 20px;
    font-size: 1.8rem;
    border-radius: 10px;
    resize: vertical;
}

.model-form.active {
    visibility: visible;
    pointer-events: all;
}



.model-window {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    
}
.model-window.active {
    display: flex;
}


.model-note .model {
    height: 95vh;
    overflow-y: auto;
}

.model-window .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.model-window .content h2 {
    font-size: 2rem;
    font-weight: 600;
}

.model-window .content p {
    font-size: 1.7rem;
    font-weight: 500;
}


@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }



/* /////////////////////////////  Section Top   ////////////////////////////////////// */

.section-headings {
    width: 100vw;
    width: 100%;
    padding: 0 10px;
}

.section-top {
    /* text-align: center; */
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;

    @media only screen and (max-width: 600px) {
        flex-direction: column;

        gap: 2rem;
        margin-inline: auto;
    }
    @media only screen and (min-width: 600px) and (max-width: 767px) {

    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        
    }
    @media only screen and (min-width: 1200px) {

    }
}

.section-headings .container {
    width: 100%;
    
}


.all-notes {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 30px;
    
    
    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    @media only screen and (min-width: 600px) and (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: 1fr 1fr 1fr;   
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        
    }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    
    }
    @media only screen and (min-width: 1400px) {
        grid-template-columns: repeat(5, 1fr);
    }
    
}

.note {
    padding: 20px 15px;
    /* color: white; */
    color: black;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    max-width: 300px;
    height: 250px;
    max-height: max-content;
    border-radius: 10px;
    font-size: 1.5rem;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;

    cursor: pointer;
    

    @media only screen and (max-width: 600px) {
        width: 100%;
        max-width: 100%;
        height: max-content;
    }
    @media only screen and (min-width: 600px) and (max-width: 767px) {
    
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        
    }
    @media only screen and (min-width: 1200px) {
    
    }

    transition: all 0.2s;
}
.note:hover {
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.6);
}


.note .title {
    font-size: 1.9rem;
    font-weight: 600;

    color: rgb(44, 44, 44);
}

.note .note-text {
    color: rgb(73, 73, 73);
    margin-bottom: 1rem;
    overflow-wrap: break-word;

}

.note .btn {
    background-color: transparent;
}

.note .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.note ion-icon {
    font-size: 2.5rem;
    color: blue;
    background-color: white;
    border-radius: 50rem;
    padding: 4px;
    transition: all 0.2s;
}
.note ion-icon:hover {
    color: rgb(37, 37, 37);
    transform: translateY(-2px);
}

.btn-date {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.note .date {
    font-size: 1.5rem;
    font-style: italic;
    text-align: end;
}

/*
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
}
@media only screen and (min-width: 1200px) {

}
*/